@import "tailwindcss";

@theme {
  --color-background: #F9F6F0;
  --color-foreground: #111C18;
  --color-accent: #C85A17;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-instrument-serif);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
